.inquiries-control-panel {
    height: 100px;
    max-width: 750px;
    padding: 0.5rem;
    margin: 0 auto;
    border-bottom: 3px solid black;
}

/* === */
/* --- */
/* === */

.inquiries-control-panel .inquiries-control-panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.inquiries-control-panel .inquiries-control-panel-header .fas {
    font-size: 2rem;
    margin-right: 1rem;
}

.inquiries-control-panel .inquiries-control-panel-header .fas:hover,
.inquiries-control-panel .inquiries-control-panel-header .fas:focus {
    color: royalblue;
}

.inquiries-control-panel .inquiries-control-panel-header h1 {
    font-style: italic;
}

/* === */
/* --- */
/* === */

.inquiries-control-panel .select-all-inquiries,
.inquiries-control-panel .deselect-all-inquiries {
    display: inline-block;
    position: relative;
}

.inquiries-control-panel .select-all-inquiries::before,
.inquiries-control-panel .deselect-all-inquiries::before {
    content: "";
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: grey;
    opacity: 0.5;
    transform: translate(-70%, -50%);
    z-index: -1;
}

.inquiries-control-panel .select-all-inquiries:hover::before,
.inquiries-control-panel .deselect-all-inquiries:hover::before {
    display: inline-block;
}

.inquiries-control-panel .select-all-inquiries .far,
.inquiries-control-panel .deselect-all-inquiries .fas {
    z-index: 2;
}

/* === */
/* --- */
/* === */

.inquiries-control-panel .inquiries-control-actions {
    padding-left: 0.5rem;
}

.inquiries-control-panel .inquiries-control-actions .fas,
.inquiries-control-panel .inquiries-control-actions .far {
    font-size: 1.25rem;
}

.inquiries-control-panel .inquiries-control-actions .far.fa-square,
.inquiries-control-panel .inquiries-control-actions .fas.fa-minus-square,
.inquiries-control-panel .inquiries-control-actions .fas.fa-redo-alt {
    margin-right: 1rem;
}

.inquiries-control-panel .inquiries-control-actions .fas.fa-trash-alt,
.inquiries-control-panel .inquiries-control-actions .fas.fa-envelope-open-text,
.inquiries-control-panel .inquiries-control-actions .fas.fa-envelope {
    margin-right: 0.5rem;
}

/* === */
/* --- */
/* === */

.inquiries-control-panel .inquiries-control-actions .select-filter {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    margin-left: 1rem;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: #f3f4f6;
}

.inquiries-control-panel .inquiries-control-actions .select-filter:hover,
.inquiries-control-panel .inquiries-control-actions .select-filter:focus {
    border-color: grey;
    background-color: white;
}

/* === */
/* --- */
/* === */

.inquiries-control-panel .inquiries-list {
    height: calc(100vh - 150px);
    width: 100vw;
    max-width: 750px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
}
